{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="mb-4 fw-bold">Dashboard</h1>

<div class="row g-4 mb-5">

    <div class="col-md-3">
        <div class="card dashboard-card p-3">
            <h6>Total Messages</h6>
            <h2>{{ total_messages }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dashboard-card p-3">
            <h6>Flagged Alerts</h6>
            <h2>{{ flagged_alerts }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dashboard-card p-3">
            <h6>Critical Risk</h6>
            <h2>{{ critical_risk }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card dashboard-card p-3">
            <h6>Upload Batches</h6>
            <h2>{{ total_uploads }}</h2>
        </div>
    </div>
</div>

<div class="card dashboard-card p-4">
    <h4 class="mb-3">Recent Uploads</h4>

    <table class="table align-middle">
        <thead>
        <tr>
            <th>Filename</th>
            <th>Status</th>
            <th>Records</th>
            <th>Failed</th>
        </tr>
        </thead>

    <tbody>
    {% for batch in recent_uploads %}
        <tr>
            <td>{{ batch.filename }}</td>
            <td>
                <span class="badge {% if batch.status == 'complete' %}bg-success{% elif batch.status == 'failed' %}bg-danger{% elif batch.status == 'processing' %}bg-warning text-dark{% else %}bg-secondary{% endif %}">
                    {{ batch.get_status_display }}
                </span>
            </td>
            <td>{{ batch.total_records }}</td>
            <td>{{ batch.failed_records }}</td>
        </tr>
    {% empty %}
         <tr>
             <td colspan="4">No uploads yet.</td>
         </tr>
    {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}